.form-container {
  width: 80%;
  padding: 24px;
  margin: 0 auto;
  text-align: center;
}

#cocktail_image {
  width: 14rem;
  margin: 0 auto;
  padding-left: 12px;
}

.form-control {
  width: 14rem;
  margin: 0 auto;
}
